<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css">
    <title>Create Post</title>
</head>
<body>
    <%- include('../view/navbar.ejs') %>

    <h1>Create a New Post</h1>
    <% if (user) { %>
        <p>Welcome, <%= user.email %>!</p>
    <% } %>
    <form action="/api/user/createpost" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
        <br>
        <label for="content">Content:</label>
        <textarea id="content" name="content" required></textarea>
        <br>
        <input type="submit" value="Create Post">
    </form>
</body>
</html>
