<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <link rel="stylesheet" href="https://matchamizu.sh/matcha.css">
    <!-- <link rel="stylesheet" href="/navbar.css"> -->
    <title>Navbar</title>
</head>
<body>
    <nav>
        <ul class="main-container">
            <a  class="item" href="http://localhost:4000/api/user/allpost">Home</a>
            <a  class="item" href="http://localhost:4000/api/user/signup">Signup</a>
            <a  class="item" href="http://localhost:4000/api/user/login">Login</a>
            <a  class="item" href="http://localhost:4000/api/user/logout">Logout</a>
            <a  class="item" href="http://localhost:4000/api/user/profile">User Profile</a>
            <a  class="item" href="http://localhost:4000/api/user/createpost">Create Post</a>
        </ul>
    </nav>
</body>
</html>
